@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --grid-bg: rgba(143, 143, 143, 0.35);
    --hover: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-logo img {
    width: 80px;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 25px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
}
    
.header-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;

}

i {
    color: #101540;
}

.icons i {
    width: 34px;
    height: 34px;
}


.header-elements i {
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}



.user-section i {
    padding: 0;
    font-size: 9px;
}

.header i {
    font-size: 24px;
    margin: 2px;
    margin-top: 4px;

}

.user-section {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.user-section span {
    padding: 6px;
    font-size: 14px;
    font-weight: 700;
    color: #101540;
}

.sidebar {
    width: 100px;
    background: linear-gradient(180deg, #0DD3AD 0%, #0DD3AD 100%);
    padding: 10px;
    height: 100%;
    position: fixed;
    margin-top: 68px;

}

.side-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 6px;
}

.side-links p {
    font-size: 12px;
    text-align: center;
}

.sidebar > * {
    text-decoration: none;
    color: #000;
}

.active {
    color: #fff;
}

.container {
    background-color: #fff;
    padding: 5px;
    margin: 75px 0 0 100px;
}

.grid-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    height: 89vh;

}

.top-grid {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 5px;
}

.top-grid-left {
    padding: 10px;
    background: var(--grid-bg);
}

.top-grid-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--grid-bg);
}

.top-grid .field {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.top-grid .field input,
select {
    width: 65%;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    padding: 5px;
    color: #858D9D;
}


.bottom-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grid-bg);
    flex-direction: column;
}

.center-head {
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 1rem;
}

.dataTable {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.userRegisterBtn {
    background: #0DD3AD;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 170px;
    border-radius: 5px;
}

.ps-grid-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 92vw;    
}

.ps-grid-left , .ps-grid-center , .ps-grid-right , .ps-grid-bleft , .ps-grid-bright {
    background-color: #E8F3F1;
    border-radius: 10px;
    box-shadow: #101540;
    margin: 0 0 10px 10px;
    text-align: center;
    padding-top: 15px;
}

.ps-grid-left span {
    font-size: 80px;
    font-weight: 500;
}

.ps-grid-right {
    display: flex;
    flex-direction: column;
}

.ps-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}   

.ps-buttons button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #68E4BC 0%, #4AD0D1 99%);
    cursor: pointer;
}

.ps-buttons span {
    font-size: 36px;
}

.ps-buttons p {
    padding: 10px;
}

.chart {
    width: 50%;
    margin: auto;
    padding: 0;

}

.ps-grid-bottom {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #fff;
    margin: 0;
}

.ps-grid-bleft{
    display: flex;
    flex-direction: column;
    background-color: #E8F3F1;

}

.ps-dt-table {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.ps-grid-bright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ps-grid-bright h2 {
    padding-left: 30px;
    padding-bottom: 10px;
}

.ps-grid-bright > div{
    text-align: left;
    padding-left: 30px;
}

.ps-grid-bright span {
    font-size: 24px;
    font-weight: 700;
}

.ps-grid-bright p {
    font-size: 18px;
    margin-bottom: 20px;
}

.ps-grid-bright .order-btn  {
    width: 100%;
    padding-left: 165px;
}

.ps-grid-bright .order-btn button {
    height: 36px;
    padding: 5px;
    margin-bottom: 6px;
    background-color: #2F58CD;
    color: #fff;
    border: none;
    border-radius: 4px;
}









@media only screen and (max-width: 1200px) {

    .top-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;

    }

    .user-management-grid {
        width: 88vw;
    }

    .sidebar {
        width: 75px;
        z-index: 1;
        margin-top: 75px;
    }

    .side-links p{
        font-size: 10px ;
    }

    .um-container {
        margin-left: 75px;
    }
}